In [ ]:
# Install all required packages here

In [7]:
import pandas as pd

stress_data = pd.read_csv('/content/data.csv') 
stress_data.dropna(inplace=True)
stress_data

       Age  Gender  ...  Stress_makes_nervous  Stress_affects_emotions
0        2       1  ...                     1                        2
1        2       1  ...                     1                        2
2        2       1  ...                     1                        2
3        2       1  ...                     1                        2
4        2       1  ...                     1                        2
...    ...     ...  ...                   ...                      ...
99995    1       2  ...                     1                        1
99996    1       2  ...                     1                        1
99997    1       2  ...                     1                        1
99998    1       2  ...                     1                        1
99999    1       2  ...                     1                        1

[99746 rows x 30 columns]